<body>
    <main role="main">

        <div class="container title">
            <h1 class="display-3 mt-5">Práctica 01 - Gonzalo Flores       🙂🙂</h1>
            <p class="mt-4 paragraph">
                Ejercicio de práctica que elaboró el ingeniero
                Jorge Rosvin Narvaez Villacorta, en el cual se desarrolló
                una aplicación web con Angular, la cual tiene como objetivo
                mostrar los datos de un usuario, su mascota y su vehículo.
            </p>
        </div>
    
        <div class="container mt-5">
            <div class="row">

                <div class="col-md-4">
                    <app-datos></app-datos>
                    <div class="img-container">
                        <img src="img/datos3.png" alt="Imagen de datos" class="img-fluid mt-4">
                    </div>
                </div>

                <div class="col-md-4">
                    <app-mascota></app-mascota>
                    <div class="img-container">
                        <img src="img/Chelsea2.jpeg" alt="Imagen de mascota" class="img-fluid mt-4">
                    </div>
                </div>

                <div class="col-md-4">
                    <app-vehiculo></app-vehiculo>
                    <div class="img-container">
                        <img src="img/suzuki.jpg" alt="Imagen de mascota" class="img-fluid mt-4">
                    </div>
                </div>
            </div>
        </div> 
    </main>
    
    
    <footer>
        <div class="container-fluid bg-dark p-5 text-center">
            <div class="row">
                <div class="col"><a href="#" class="text-decoration-none text-light text-center">Gonzalo</a></div>
                <div class="col"><a href="#" class="text-decoration-none text-light text-center">Andrhé</a></div>
                <div class="col"><a href="#" class="text-decoration-none text-light text-center">Flores</a></div>
                <div class="col"><a href="#" class="text-decoration-none text-light text-center">Coral</a></div>
                <div class="col"><a href="#" class="text-decoration-none text-light text-center">UPN-N000349919</a></div>
                <div class="col"><a href="#" class="text-decoration-none text-light text-center">©Copyright-2025</a></div>
            </div>
        </div> 
    </footer> 
</body>




